<!DOCTYPE html>
<html>
	<head>
		<script type="text/javascript" src="../public/scripts/jquery.min.js"></script>
		<script type="text/javascript" src="../public/scripts/jquery-jvectormap.min.js" type="module"></script>
		<script type="text/javascript" src="../public/scripts/jquery-ui.js" type="module"></script>
		<script type="text/javascript" src="../public/scripts/jquery-jvectormap-world-mill-en.js" type="module"></script>
		<script type="text/javascript" src="../public/scripts/jQueryDP.js"></script>
		<script type="text/javascript" src="../public/scripts/database.js"></script>
		<link rel="stylesheet" href="../public/styles/jquery-ui.css" />
		<link rel="stylesheet" href="../public/styles/jquery-jvectormap.css" />
		<link rel="stylesheet" href="../public/styles/main.css" />
		<link rel="stylesheet" href="../public/styles/jquery-ui.structure.css"/>
		<link rel="stylesheet" href="../public/styles/jquery-ui.theme.css" />
		<title>Covid19WorldMap</title>
	</head>
	<body>
		<!-- DATE PICKER -->
		<div id="div1">
			<p>Date <input type="text" id="date" placeholder="Enter date" /></p>
		</div>
		<!-- DATEPICKER - END -->

		<!-- MAP -->
		<div id="world-map-gdp" style="width: 100%; height: 800px"></div>
		<script type="text/javascript" src="../public/scripts/map.js"></script>
	</body>
</html>
