<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <link rel="stylesheet" href="styles/jquery-jvectormap.css"/>
    <script src="scripts/jquery.min.js" type="module"></script>
    <script src="scripts/jquery-jvectormap.min.js" type="module"></script>
    <script src="scripts/jquery-jvectormap-world-mill-en.js" type="module"></script>
    <script src="scripts/jquery-ui.js" type="module"></script>
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/jquery-ui.css" />
    <link rel="stylesheet" href="styles/jquery-ui.structure.css" />
    <link rel="stylesheet" href="styles/jquery-ui.theme.css" />
    <script src="scripts/jQueryDP.js"></script>
    <script src="scripts/gdp-data.js"></script>
    <title>Covid19WorldMap</title>
  </head>
  <body>
    <!-- DATE PICKER -->
    <div id="div1">
      <p>Date <input type="text" id="date" placeholder="Enter date" /></p>
    </div>
    <!-- DATEPICKER - END -->

    <!-- MAP -->
    <div id="world-map-gdp" style="width: 100%; height: 800px"></div>
    <script>
      $("#world-map-gdp").vectorMap({
        map: "world_mill_en",
        series: {
          regions: [
            {
              values: gdpData,
              scale: ["#C8EEFF", "#0071A4"],
              normalizeFunction: "polynomial",
            },
          ],
        },
        backgroundColor: "",
        onRegionTipShow: function (e, el, code) {
          el.html(el.html() + " (GDP - " + gdpData[code] + ")");
        },
      });
    </script>
  </body>
</html>